[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tinymce = "*"
pillow = "*"
stripe = "*"
python-decouple = "*"
celery = "*"
redis = "*"
psycopg2-binary = "*"
django-storages = "*"
boto3 = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
